form {
  margin-top: 30px;
}

.user-post, .user-review {
  font-weight: bold;
}


#rating {
  font-size: 125%;
}

.beers-list {
  font-size: 125%;
  line-height: 160%;
  word-spacing: 120%;
}


/*
.beers-list:li {
  word-spacing: 120%;
  font-size: 125%;
}
*/
